*{
    margin: 0;
    padding: 0;
}
body{
    background: #1d1d1d;
    font-family:'fantasy', 'monospace';
    /* font-family: 'Courier New', Courier, monospace; */
}
.container{
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


 
  
  .wrapper{
    position: relative;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 4px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.curtain{
    width: 25%;
    height: 25%;
    box-sizing: border-box;
    /* font-size: 40px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
    color: #ff8534;
    /* color: aliceblue; */
    display: grid;
    align-items: center;
    text-align: center;
    border: 2px solid #2C2A4A;
    background-color: #4F518C;
    z-index: 1;
    /* visibility: hidden; */
}
/* box and .curtain are correctly placed */
.box{
    width: 25%;
    height: 25%;
    box-sizing: border-box;
    z-index: -1;
    /* background-color: rgba(255, 255, 255, 0.486); */
    background-size: contain;
    /* background-image: image('stink.png'); */
}

img{
    object-fit: scale-down;
}

.overlaybox{
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    /* min-width: 500px; */
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.result{
    width: max-content;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    /* background-color: #db4545; */
    border: 3px solid #242222;
    /* animation: swoop 2s alternate infinite ease-in-out ; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes swoop {
    0%{

    }
    50%{
        scale: 125%;
    }
    
}

#retryBtn{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(86, 26, 165); */
    background-color: #db4545;
}
#resultLabel{
    flex-grow: 1;
    padding: 10%;
    background-color: #1d1d1d;
    color: rgb(226, 205, 205);
}

/* .box:hover{
    background-color: brown;
} */

/* .box:hover{
    border: 4px solid brown;
    background-color: transparent;
} */